* {
    margin: 0;
    padding: 0;
}



a {
    color: blue;
}

    a:hover {
        color: red;
        font-weight: bold;
        font-size: 24px;
    }

    a:focus {
        color: red;
    }


    a.skip {
        color: lightblue;
        text-decoration: underline;
        opacity: 0.8;
    }

    a:hover.skip {
        color: red;
        opacity: 1
    }

    a:focus.skip {
        color: red;
        opacity: 1;
    }


div {
    margin: 0;
}




ul {
    /*padding-top: 30px;*/
    float: right;
    padding-left: 0;
}

li {
    display: inline-block;
    padding-right: 20px;
}

figure {
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

figcaption {
    color: black;
    font-style: italic;
    padding: 2px;
    text-align: center;
    font-size: 18px;
}

a.hvr-pop:hover {
    text-decoration: none;
    opacity: 1;
    transition: 0.3s
}


/* OUTER CONTAINER */
.tcontainer {
    width: 100%;
    overflow: hidden;
    /* Hide scroll bar */
    color: blue;
}


/* MIDDLE CONTAINER */
.ticker-wrap {
    width: 100%;
    padding-left: 100%;
    /* Push contents to right side of screen */
    background-color: #eee;
    font-size: 20px;
}

/* INNER CONTAINER */
@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 30s;
}

    .ticker-move:hover {
        animation-play-state: paused;
        /* Pause scroll on mouse hover */
        color: red;
        font-size: 20px;
    }

/* ITEMS */
.ticker-item {
    display: inline-block;
    /* Lay items in a horizontal line */
    padding: 0 2rem;
}


/* OUTER CONTAINER */
.tcontainer1 {
    width: 87%;
    height: 100%;
    overflow: hidden;
    /* Hide scroll bar */
    color: blue;
    float: right;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* MIDDLE CONTAINER */
.ticker-wrap1 {
    width: 30%;
    padding-right: 100%;
    /* Push contents to right side of screen */
    background-color: #eee;
}

/* INNER CONTAINER */
@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-move1 {
    /* Basically move items from right side of screen to left in infinite loop */
    display: inline-block;
    white-space: nowrap;
    padding-right: 100%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: ticker;
    animation-duration: 40s;
}

    .ticker-move1:hover {
        animation-play-state: paused;
        /* Pause scroll on mouse hover */
        color: red;
        font-size: 20px;
    }

/* ITEMS */
.ticker-item1 {
    display: inline-block;
    /* Lay items in a horizontal line */
    padding: 0 0rem;
}

    .ticker-item1 img {
        width: 400px;
        height: 300px;
        object-fit: fill;
    }




.btn {
    background-color: blue;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 20px;
    opacity: 0.6;
    transition: 0.3s;
}

    .btn:hover {
        opacity: 1
    }



#wrap {
    margin: 0 auto;
    text-align: center;
}

#nheader {
    background-color: #0000FF;
    background-position: center;
    background-image: url("/images/AI_01.jpg");
    background-size: cover;
    height: 300px;
    text-align: center;
    font-family: calibri;
    font-size: 1em;
    color: white;
}

.mySlides {
    display: none;
}

h1 {
    color: white;
}

    h1.title {
        color: #2c2c2c;
        font-size: 28px;
        text-align: center;
        margin-bottom: 10px;
    }


.text_para_title {
    color: #2c2c2c;
    font-size: 20px;
    font-family: calibri;
    margin-left: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.text_para {
    color: black;
    font-size: 18px;
    font-family: Verdana;
    line-height: 1.5em;
    padding: 20px;
}

footer {
    background-color: #F0F8FF;
    padding-top: 0;
    bottom: 0;
    width: 100%;
    margin-top: 5px;
    margin-left: 200px;
}

center .npara {
    margin-left: 200px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 30px;
    background-color: #e3f4fc;
    background-size: cover;
    float: right;
    border: 1px green;
}

.sideBar_Nav {
    line-height: 1.5em;
    padding-bottom: 20px;
    text-align: left;
    margin-bottom: 100px;
}

#sidebar {
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 330px;
    background: #eee;
    overflow-x: hidden;
    padding: 18px 0;
    float: right;
    text-align: left;
}

.right {
    float: right;
    color: white;
    padding-top: 40px;
    padding-left: 40px;
    margin-top: 50px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: left;
}

.right1 {
    float: right;
    color: white;
    padding-top: 40px;
}

.right2 {
    float: right;
    color: white;
    padding-top: 0;
}

.left {
    float: left;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 40px;
}

.center {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.redColor {
    color: red;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

img.header {
    border-radius: 50%;
    border: 5px solid blue;
    margin-top: 0;
    /* to have rounded image border */
}



/* Style Static_Gallery styling */


.body_s {
    margin-left: 300px;
    font-family: Arial;
    box-sizing: border-box;
}

.header_s {
    text-align: center;
    padding: 12px;
}

h1.header_s {
    color: #2c2c2c;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.row_s {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column_s {
    -ms-flex: 30%;
    flex: 30%;
    max-width: 30%;
    padding: 0 4px;
}

    .column_s img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }

@media screen and (max-width: 800px) {
    .column_s {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}


@media screen and (max-width: 600px) {
    .column_s {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.column_s img:nth-child(3n) {
    border: 3px solid black;
    border-radius: 15%;
}
 